.header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  body {
    margin: 0 10%;
    width: 90%;
    text-align: center;
  }
  button{
    color:var(--custom-color);
    border:1px solid rgb(89, 179, 200);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 25px;
  }
  button:hover{
    color: rebeccapurple;
  }
  
  :root{
    --custom-color:rgb(53, 167, 196);
  }
  .conhead {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
    flex: 1;
    justify-content: space-evenly;
    width: 5cm;
    
  }
  .conhead li {
    text-decoration: none;
    justify-content: space-evenly;
    flex: 1;
    padding: 10px;
  }
  .conhead li a {
    color: #0e0b0b;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 2cm;
    margin-right: 1cm;
    border-radius: 5px;
    background: transparent;
    transition: 0.9s ease;
    padding: 10px;
  }
  .conhead li a:hover {
    background: var(--custom-color);

  }
 /* Style the sidebar */
.side-main {
    width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
  }
  

  
  .side-main ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-main ul li {
    margin-bottom: 10px;
  }
  
  .side-main ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: 1s ease;
  }
  
  .side-main ul li a:hover {
    color: var(--custom-color);
    transform: translatex(10%);
  }
  

  .side-main select {
    width: 100%;
    padding: 8px;
 
    border-radius: 4px;
    margin-top: 5px;
  }
  
  
  .side-main select option {
    padding: 5px;
  }
  .end{
    display: flex;
    background: #0e0b0b;
    margin: 20px;
    width: 100%;
  }
  .end p{
    color: var(--custom-color);
    text-decoration: none;
  }
  .end h3{
    color: var(--custom-color);
  }
  .end a{
    text-decoration: none;
    
  }
  .end div{
    padding: 10px;
  }
  